:root {
  /* Breakpoint variables */
  --bp-small: 24.15;
  --bp-medium: 43.75;
  --bp-large: 60.25;
  --bp-xlarge: 75;
  /* text GRAD */
  --text-GRAD: 88;
  /* Paragraph variables */
  --p-line-height-min: 1.15;
  --p-line-height-max: 1.5;
  --p-font-size-min: 1.0;
  --p-font-size-max: 1.25;
  --p-vf-wght: 350;
  --p-vf-wdth: 100;
  /* H1 variables */
  --h1-line-height-min: .95;
  --h1-line-height-max: 1.05;
  --h1-font-size-min: 2.0;
  --h1-font-size-max: 5;
  --h1-vf-wght-multiplier-s: 2;
  --h1-vf-wght-multiplier-m: 2.25;
  --h1-vf-wght-multiplier-l: 2.5;
  --h1-vf-wdth: 100;
  /* H2 variables */
  --h2-line-height-min: 1.15;
  --h2-line-height-max: 1.25;
  --h2-font-size-min: 1.5;
  --h2-font-size-max: 3.5;
  --h2-vf-wght-multiplier-s: 1.25;
  --h2-vf-wght-multiplier-m: 1.5;
  --h2-vf-wght-multiplier-l: 1.75;
  --h2-vf-wdth: 100;
  /* Dropcap variables */
  --dc-line-height-min: .9;
  --dc-line-height-max: .95;
  --dc-font-size-min: 2.7;
  --dc-font-size-max: 5;
  /* Blockquote variables */
  --bq-line-height-min: 1.1;
  --bq-line-height-max: .95;
  --bq-font-size-min: 2.7;
  --bq-font-size-max: 5; }

.graded {
  --text-GRAD: 150; }

/* Undo some of the Layout width bits */
.section-content {
  margin: 0 auto;
  padding: 0 0.5em; }

@media only screen and (min-width: 24.15em) {
  .section-content {
    max-width: 98%; } }

@media only screen and (min-width: 43.75em) {
  .section-content {
    max-width: 98%; } }

@media only screen and (min-width: 60.25em) {
  .section-content {
    max-width: 98%; } }

@media only screen and (min-width: 75em) {
  .section-content {
    max-width: 98em; } }

html {
  background-color: #fbfbf6;
  color: #3c3d31;
  font-size: 100%; }

body {
  padding-top: 5rem; }

body,
p,
th,
td,
ul,
li {
  font-family: "Amstelvar 1.1 VF", Georgia, "New Times Roman", serif;
  font-weight: normal;
  font-style: normal; }

.inverse {
  background-color: #3c3d31;
  color: #fbfbf6; }

p {
  margin-left: auto;
  margin-right: auto;
  max-width: 38em;
  transition: all linear 0.2s;
  hyphens: auto; }

/* Variations and variables */
p {
  font-size: calc( var(--p-font-size-min) * 1rem);
  font-variation-settings: "wght" var(--p-vf-wght), "wdth" calc( var(--p-vf-wdth) * .85), "GRAD" var(--text-GRAD);
  line-height: var(--p-line-height-min); }
  .inverse p {
    --text-GRAD: 120; }
  @media screen and (min-width: 24.15em) {
    p {
      font-variation-settings: "wght" var(--p-vf-wght), "wdth" calc( var(--p-vf-wdth) * .90), "GRAD" var(--text-GRAD);
      line-height: calc(( var(--p-line-height-min) * 1em ) + ( var(--p-line-height-max) - var(--p-line-height-min) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-large) - var(--bp-small) ))); } }
  @media (min-width: 60.25em) {
    p {
      font-size: calc(( var(--p-font-size-min) * 1em ) + ( var(--p-font-size-max) - var(--p-font-size-min) ) * ((100vw - ( var(--bp-large) * 1em )) / ( var(--bp-xlarge) - var(--bp-large) )));
      font-variation-settings: "wght" var(--p-vf-wght), "wdth" calc( var(--p-vf-wdth) * 1), "GRAD" var(--text-GRAD);
      line-height: var(--p-line-height-max); } }
  @media (min-width: 75em) {
    p {
      font-size: calc( var(--p-font-size-max) * 1em); } }

/* Generic header styles */
h1, h2, h3, h4, h5, h6 {
  font-family: "Amstelvar 1.1 VF", Georgia, "New Times Roman", serif;
  font-weight: normal;
  font-variation-settings: "wght" 600, "wdth" 100, "GRAD" var(--text-GRAD);
  transition: all linear 0.2s; }

h1 {
  font-family: "Amstelvar 1.1 VF", Georgia, "New Times Roman", serif;
  font-size: calc( var(--h1-font-size-min) * 1em);
  font-variation-settings: "wght" calc( var(--p-vf-wght) * var(--h1-vf-wght-multiplier-s)), "wdth" calc( var(--h1-vf-wdth) * .75), "GRAD" var(--text-GRAD);
  line-height: var(--h1-line-height-min);
  margin: 1rem auto;
  max-width: 50rem; }
  .inverse h1 {
    --text-GRAD: 100; }
  @media screen and (min-width: 24.15em) {
    h1 {
      line-height: calc(( var(--h1-line-height-min) * 1em ) + ( var(--h1-line-height-max) - var(--h1-line-height-min) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-xlarge) - var(--bp-small) )));
      font-size: calc(( var(--h1-font-size-min) * 1em ) + ( var(--h1-font-size-max) - var(--h1-font-size-min) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-large) - var(--bp-small) ))); } }
  @media screen and (min-width: 43.75em) {
    h1 {
      font-variation-settings: "wght" calc( var(--p-vf-wght) * var(--h1-vf-wght-multiplier-m)), "wdth" calc( var(--h1-vf-wdth) * .82), "GRAD" var(--text-GRAD);
      max-width: 60rem; } }
  @media screen and (min-width: 60.25em) {
    h1 {
      font-variation-settings: "wght" calc( var(--p-vf-wght) * var(--h1-vf-wght-multiplier-l)), "wdth" calc( var(--h1-vf-wdth) * .94), "GRAD" var(--text-GRAD);
      line-height: var(--h1-line-height-max);
      max-width: 70rem; } }
  @media (min-width: 75em) {
    h1 {
      font-size: calc( var(--h1-font-size-max) * 1em);
      font-variation-settings: "wght" calc( var(--p-vf-wght) * var(--h1-vf-wght-multiplier-l)), "wdth" calc( var(--h1-vf-wdth) * 1), "GRAD" var(--text-GRAD);
      line-height: var(--h1-line-height-max);
      max-width: 75rem; } }

h2 {
  font-family: "Amstelvar 1.1 VF", Georgia, "New Times Roman", serif;
  font-size: calc( var(--h2-font-size-min) * 1em);
  font-variation-settings: "wght" calc( var(--p-vf-wght) * var(--h2-vf-wght-multiplier-s)), "wdth" calc( var(--h2-vf-wdth) * .80), "GRAD" var(--text-GRAD);
  line-height: var(--h2-line-height-min);
  margin: 0 auto 2rem auto;
  max-width: 50rem; }
  .inverse h2 {
    --text-GRAD: 100; }
  @media screen and (min-width: 24.15em) {
    h2 {
      line-height: calc(( var(--h2-line-height-min) * 1em ) + ( var(--h2-line-height-max) - var(--h2-line-height-min) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-xlarge) - var(--bp-small) )));
      font-size: calc(( var(--h2-font-size-min) * 1em ) + ( var(--h2-font-size-max) - var(--h2-font-size-min) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-xlarge) - var(--bp-small) ))); } }
  @media screen and (min-width: 43.75em) {
    h2 {
      font-variation-settings: "wght" calc( var(--p-vf-wght) * var(--h2-vf-wght-multiplier-m)), "wdth" calc( var(--h2-vf-wdth) * .90), "GRAD" var(--text-GRAD);
      max-width: 60rem; } }
  @media screen and (min-width: 60.25em) {
    h2 {
      max-width: 70rem; } }
  @media (min-width: 75em) {
    h2 {
      font-size: calc( var(--h2-font-size-max) * 1em);
      font-variation-settings: "wght" calc( var(--p-vf-wght) * var(--h2-vf-wght-multiplier-l)), "wdth" calc( var(--h2-vf-wdth) * 1), "GRAD" var(--text-GRAD);
      line-height: var(--h2-line-height-max);
      max-width: 75rem; } }

blockquote {
  float: right;
  font-family: "Amstelvar 1.1 VF", Georgia, "New Times Roman", serif;
  font-size: 6.5vw;
  font-variation-settings: "wght" 400, "wdth" 80, "GRAD" var(--text-GRAD);
  line-height: var(--bq-line-height-min);
  margin: 0 5vw 1rem .5rem;
  max-width: 45vw;
  transition: all linear 0.2s; }
  blockquote.right {
    float: right;
    margin-left: .5rem;
    margin-right: 5vw; }
  blockquote.left {
    float: left;
    margin-left: 5vw;
    margin-right: .5rem; }
  blockquote .well-used {
    font-size: 1.25em;
    font-variation-settings: "wght" 350, "wdth" 80, "GRAD" var(--text-GRAD); }
  blockquote .invisible {
    font-size: 1.5em;
    font-variation-settings: "wght" 400, "wdth" 80, "GRAD" var(--text-GRAD); }
  @media screen and (min-width: 24.15em) {
    blockquote {
      line-height: calc(( var(--bq-line-height-min) * 1em ) + ( var(--bq-line-height-max) - var(--bq-line-height-min) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-large) - var(--bp-small) )));
      font-variation-settings: "wght" 350, "wdth" 80, "GRAD" var(--text-GRAD);
      margin: 0 5vw .5rem .5rem;
      max-width: 47.5vw; }
      blockquote.right {
        margin-left: .5rem;
        margin-right: 5vw; }
      blockquote.left {
        margin-left: 5vw;
        margin-right: .5rem; }
      blockquote .well-used {
        font-size: 1.33em;
        font-variation-settings: "wght" 450, "wdth" 80, "GRAD" var(--text-GRAD); }
      blockquote .invisible {
        font-size: 1.55em;
        font-variation-settings: "wght" 425, "wdth" 85, "GRAD" var(--text-GRAD); } }
  @media (min-width: 60.25em) {
    blockquote {
      line-height: var(--bq-line-height-max);
      font-variation-settings: "wght" 300, "wdth" 80, "GRAD" var(--text-GRAD);
      margin: 0 12vw 2rem 2rem;
      max-width: 29.5vw; }
      blockquote.right {
        margin-left: 2rem;
        margin-right: 12vw; }
      blockquote.left {
        margin-left: 12vw;
        margin-right: 2rem; }
      blockquote .well-used {
        font-size: 1.33em;
        font-variation-settings: "wght" 400, "wdth" 85, "GRAD" var(--text-GRAD);
        line-height: .75; }
      blockquote .invisible {
        font-size: 1.66em;
        font-variation-settings: "wght" 325, "wdth" 85, "GRAD" var(--text-GRAD);
        line-height: .75; } }

img {
  height: auto;
  max-width: 100%;
  width: 100%; }

h2 + p {
  margin-top: 1em; }

/* Section end styles */
.section-end:after {
  color: #777;
  content: "\00a7";
  display: block;
  font-family: Georgia, "New Times Roman", serif;
  font-size: 1.5em;
  font-weight: 300;
  margin-top: 1em;
  text-align: center; }

/* Initial Cap styles */
.article-detail.initial p:first-of-type:first-letter {
  float: left;
  padding-right: 0.05em;
  font-family: "Amstelvar 1.1 VF", Georgia, "New Times Roman", serif;
  font-variation-settings: "wght" 650, "wdth" 100, "GRAD" var(--text-GRAD);
  font-size: 2.7em;
  line-height: var(--dc-line-height-min);
  margin-bottom: -.1em; }
  @media screen and (min-width: 24.15em) {
    .article-detail.initial p:first-of-type:first-letter {
      font-size: calc(( var(--dc-font-size-min) * 1em ) + ( var(--dc-font-size-max) - var(--dc-font-size-min) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-xlarge) - var(--bp-small) )));
      line-height: calc(( var(--dc-line-height-min) * 1em ) + ( var(--dc-line-height-max) - var(--dc-line-height-min) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-large) - var(--bp-small) ))); } }
  @media screen and (min-width: 43.75em) {
    .article-detail.initial p:first-of-type:first-letter {
      font-variation-settings: "wght" 670, "wdth" 100, "GRAD" var(--text-GRAD); } }
  @media (min-width: 60.25em) {
    .article-detail.initial p:first-of-type:first-letter {
      font-size: calc( var(--dc-font-size-max) * 1em);
      font-variation-settings: "wght" 850, "wdth" 100, "GRAD" var(--text-GRAD);
      line-height: var(--dc-line-height-max); } }

/* Content end styles */
.content-area p:last-child:after {
  color: #777;
  content: "\2766";
  display: block;
  font-family: Georgia, "New Times Roman", serif;
  font-size: 1.25em;
  font-style: italic;
  font-weight: 300;
  line-height: .75;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center; }

/* Goblet and max-width wrapper */
.figure-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 38em; }
  @media (min-width: 60.25em) {
    .figure-wrapper {
      font-size: calc(( var(--p-font-size-min) * 1em ) + ( var(--p-font-size-max) - var(--p-font-size-min) ) * ((100vw - ( var(--bp-large) * 1em )) / ( var(--bp-xlarge) - var(--bp-large) ))); } }
  @media (min-width: 75em) {
    .figure-wrapper {
      font-size: calc( var(--p-font-size-max) * 1em); } }

/* CSS shape outline for the goblet */
.goblet {
  float: left;
  margin: 0 1.5rem 0 0;
  width: 25%;
  -webkit-shape-outside: polygon(nonzero, 0% 0%, 0% 100%, 60% 100%, 85% 93%, 55% 85%, 55% 55%, 90% 28%, 90% 10%, 80% 0%);
  shape-outside: polygon(nonzero, 0% 0%, 0% 100%, 60% 100%, 85% 93%, 55% 85%, 55% 55%, 90% 28%, 90% 10%, 80% 0%); }
  @media screen and (min-width: 60.25em) {
    .goblet {
      margin: 0 1.5rem 0 -17.5%;
      width: 35%;
      -webkit-shape-outside: polygon(nonzero, 0% 0%, 0% 100%, 60% 100%, 75% 93%, 30% 85%, 30% 55%, 90% 28%, 90% 10%, 80% 0%);
      shape-outside: polygon(nonzero, 0% 0%, 0% 100%, 60% 100%, 75% 93%, 30% 85%, 30% 55%, 90% 28%, 90% 10%, 80% 0%); } }
